.App {
	background-color: rgb(235, 235, 235);
	top: 0;
	position: absolute;
	left: 0;
	margin: 0;
	width: 100vw;
}

.app-body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.tickets-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.side-info-container {
	margin: 2%;
	width: 30%;
}

.tickets {
	margin-bottom: 2em;
	list-style-type: none;
}
